<div class="container">
  <div class="row">
    <ul class="articles list-unstyled">
      <li ng-repeat="article in articles track by article._id" class="article">
        <div class="media">
          <ul class="media-left media-photo">
            <a href="javascript:void(0);" ui-sref="article({_id: article._id})">
              <img class="media-object" ng-src="{{article.photos[0]}}" alt="article's photo">
            </a>
          </ul>
          <div class="media-body">
            <h4 class="media-heading">{{article.title}}</h4>
            <p>{{article.content}}</p>
            <div class="pull-right">
              <span class="total-comments">{{article.totalCmts | cmtFilter}}</span>
              <a class="detail-link" ui-sref="article({_id: article._id})">More detail</a>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <nav class="pagin-wrapper">
      <ul class="pagination">
        <li ng-class="{'pagin-disabled': curPage == 1}">
          <a href="javascript:void(0);" aria-label="Previous" ng-click="paginData(curPage -1)">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li ng-repeat="page in pages track by $index" ng-class="{'active': curPage == $index + 1}">
          <a href="javascript:void(0);" ng-click="paginData(page.text)">
            <span aria-hidden="true">{{page.text}}</span>
          </a>
        </li>
        <li ng-class="{'pagin-disabled': curPage == pages.length}">
          <a href="javascript:void(0);" aria-label="Next" ng-click="paginData(curPage + 1)">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>

