<div class="container" ng-controller="UserCtrl">
  <div class="row">
    <ul class="nav nav-pills clearfix">
      <li role="presentation" ui-sref-active="active">
        <a ui-sref="articles">Home</a>
      </li>
      <li role="presentation" ui-sref-active="active" ng-if="user._id">
        <a ui-sref="addArticle">Add a new article</a>
      </li>
      <li class="dropdown pull-right" ng-if="user._id">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{user.fullname}}&nbsp;<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="javascript:void(0);" ng-click="logout()">Logout</a></li>
        </ul>
      </li>
      <li class="pull-right" ng-if="!user._id" ui-sref-active="active">
        <a ui-sref="login">Login</a>
      </li>
    </ul>
  </div>
</div>
