<div class="container">
  <div class="row">
    <div class="well col-xs-6 col-xs-offset-3">
      <form name="loginForm" method="POST" novalidate ng-submit="login(email, password)">
        <div class="form-group">
          <label for="email" class="control-label">Email</label>
          <input type="email" class="form-control" id="email" name="email" ng-model="email" required placeholder="example@gmail.com">
        </div>
        <div class="form-group">
          <label for="password" class="control-label">Password</label>
          <input type="password" class="form-control" id="password" name="password" ng-model="password" required placeholder="secret password">
        </div>
        <div id="loginErrorMsg" class="alert alert-error hide">Wrong username or password</div>
        <button type="submit" class="btn btn-success btn-block" ng-disabled="loginForm.$invalid">Login</button>
        <a ui-sref="signup" class="btn btn-default btn-block" ng-hide="isReg" ng-if="!isVerified">Signup</a>
      </form>
      <p class="message-success" ng-if="isReg">Register successfully. Please check your inbox to verify the account with a given link</p>
      <p class="message-success" ng-if="isVerified">Verify successfully. Please signin with your account</p>
    </div>
  </div>
</div>
