<p>Your account's information: </p>
<p>Fullname: {{fullname}}</p>
<p>Email: {{email}}</p>
<p>Password: xxxxx</p>
<p>Thank you for signing up. Here is the link to activate your account <a href="{{verifyUrl}}">{{verifyUrl}}</a></p>
<p><b>Notice:</b> This temporary link is valid in <b>30</b> minutes</p>